* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px 150px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

nav .logo {
  font-size: 24px;
  color: #3882f6;
}

nav .links a {
  color: #3882f6;
  text-decoration: none;
  padding-left: 20px;
  transition: color 150ms ease-in-out;
}

nav .links a:hover {
  color: #749fe4;
}

.poland {
  background-color: #1f2937;
  padding-bottom: 25px;
}
.country {
  color: #749fe4;
  padding: 50px 0 0 50px;
  font-size: 24px;
  font-weight: bolder;
}

.container {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movie-container {
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  border-radius: 10px;
  width: 45vw;
}

.container .movie-img img {
  width: 100px;
}

.movie-info {
  padding-left: 10px;
}

.movie-info .title {
  font-size: 24px;
}
.runtime,
.genre,
.ghost {
  font-size: 13px;
}

.ghost {
  padding: 0 5px;
}

.movie-info .about {
  font-size: 15px;
}

.movie-info .people {
  font-size: 13px;
}

p {
  padding-bottom: 10px;
}
