* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1f2937;
  padding: 20px 150px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

nav .logo {
  font-size: 24px;
  color: #f9faf8;
}

nav .links a {
  color: #e5e7eb;
  text-decoration: none;
  padding-left: 20px;
  transition: color 150ms ease-in-out;
}

nav .links a:hover {
  color: #3882f6;
}

.about-page {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.about-info {
  width: 50%;
}

.about-info h1 {
  font-size: 48px;
  color: #f9faf8;
}

.about-info p {
  font-size: 18px;
  color: #e5e7eb;
  padding: 15px 0;
}

.about-info button {
  color: #fff;
  background-color: #3882f6;
  padding: 10px 15px;
  border: #3882f6;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
}

.about-info button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #3882f6;
}

.about-page .image {
  width: 50%;
  margin: 0 auto;
  border: white;
}

/* header 4 */
.box {
  margin: 50px 0;
  background-color: purple;
  border-color: white;
  padding: 10px 15px;
  font-size: 18px;
  color: #e5e7eb;
}

#box-1 {
  display: flex;
  align-items: flex-start;
  align-content: space-around ;
  flex-direction: column;
  padding: 0.1rem;
  margin: 5px 0;
}

.box-1 h2 h3 p {
  margin: 50px 0;
  padding: 1rem;
}

/* *RANDOM-COlUMN SECTION */
.random-columns {
  height: 500px;
  text-align: center;
}

.random-columns h1 {
  font-family: 'Roboto-Black', sans-serif;
  font-size: 36px;
  padding: 40px;
}

.random-columns figure {
  display: inline-block;
  height: 250px;
  width: 180px;
  margin: 20px;
}

.random-columns img {
  height: 170px;
  width: 170px;
  border: solid 4px #3882f6;
  border-radius: 20px;
  object-fit: cover;
}

.random-columns figcaption {
  font-size: 18px;
  margin: 5px;
}