* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1f2937;
  padding: 20px 150px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

nav .logo {
  font-size: 24px;
  color: #f9faf8;
}

nav .links a {
  color: #e5e7eb;
  text-decoration: none;
  padding-left: 20px;
  transition: color 150ms ease-in-out;
}

nav .links a:hover {
  color: #3882f6;
}

.about-page {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}

.about-info {
  width: 50%;
  padding-top: 60px;
  margin-right: 10px;
}

.about-info h1 {
  font-size: 48px;
  color: #f9faf8;
}

.about-info p {
  font-size: 18px;
  color: #e5e7eb;
  padding: 15px 0;
}

.about-info button {
  color: #fff;
  background-color: #3882f6;
  padding: 10px 15px;
  border: #3882f6;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
}

.about-info button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #3882f6;
}

.about-page .cinema-image {
  width: 50%;
  margin: 0 auto;
  border: white;
}

.about-page .cinema-image img {
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 5px;
}

/* *RANDOM-COlUMN SECTION */

.user-testimonials h1 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 36px;
  padding: 40px;
  text-align: center;
}

.random-columns {
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.random-columns figure {
  justify-content: center;
  height: 250px;
  width: 180px;
  margin: 20px;
}

.random-columns img {
  height: 170px;
  width: 170px;
  border: solid 4px #3882f6;
  border-radius: 20px;
  object-fit: cover;
}

.random-columns figcaption {
  font-size: 18px;
  margin: 5px;
}
.quote-container {
  display: flex;
  background-color: #e5e7eb;
  text-align: left;
  width: 100%;
  margin: auto;
  height: auto;
  margin-top: 5vw;
}
/* quote section */
.quote {
  align-items: center;
  padding: 7vw;
}
.quote-text {
  padding: 1vh;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: lighter;
}
.quote-author {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .quote-container {
    margin-top: 250px;
  }
  .quote-text {
    font-size: 25px;
  }
}

/* Sign up */
.box {
  background-color: #3882f6;
  padding: 30px 25px;
  font-size: 15px;
  color: #e5e7eb;
  display: flex;
  text-align: left;
  width: 60%;
  margin: auto;
  height: auto;
  margin-top: 5vw;
  margin-bottom: 5vw;
  border-radius: 10px;
}

.box-1 {
  display: flex;
  align-content: space-between;
  padding: 0.1rem;
  margin: 5px 0;
  flex-direction: column;
  align-self: center;
}
.box-1 button {
  border: 1px solid #e5e7eb;
  width: 50%;
  align-self: center;
}

footer {
  margin-top: 5vh;
  text-align: center;
  color: #e5e7eb;
  height: 9vh;
  background-color: #1f2937;
}
footer p {
  padding: 23px;
}

@media (max-width: 1020px) {
  header {
    padding: 20px;
  }

  .about-page {
    margin: 50px 0;
  }
  .about-info {
    padding-top: 50px;
  }

  .about-info h1 {
    font-size: 34px;
  }

  .about-info p {
    font-size: 15px;
  }
  .about-page .cinema-image img {
    width: 400px;
  }

  .box {
    padding: 20px 10px;
    font-size: 13px;
    margin-top: 3vh;
  }

  .box-1 {
    display: flex;
    align-content: space-around;
    padding: 0.2rem;
    margin: 2px 0;
    width: 50%;
  }

  .box-1 button {
    border: 1px solid #e5e7eb;
    width: 60%;
    align-self: center;
  }
}

@media (max-width: 780px) {
  .about-page .cinema-image {
    display: none;
  }

  .about-info {
    width: 100%;
  }

  .box-1 p {
    display: none;
  }
}

@media (max-width: 895px) {
  .user-testimonials {
    justify-content: center;
  }
  .random-columns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
